{% extends "base.html" %}
{%block content%}
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Number of student</th>
      <th scope="col">Student Name</th>
      <th scope="col">Point</th>
      <th scope="col">Last seen in class</th>
      <th scope="col">Check-in</th>
      <th scope="col">Add/Remove Points</th>
      <th scope="col">Activities</th>
    </tr>
  </thead>
  <tbody id="myTable">
    <form id="myForm" , method="POST" , action="">
      {% for student in all_students %}
      <tr class="student_row">
        <th scope="row">{{loop.index}}</th>
        <td>{{student[1]}}</td>
        <td>{{student[2]}}</td>
        <td>{{student[3].strftime('%Y-%m-%d')}}</td>
        <td>
          <input class="student_checkin" type="checkbox" name="mycheckbox {{student[0]}}">
        </td>
        <td>
          <div class="form-group">
            <input class="form-control form-control student_point" id="point{{student[0]}}" name="point{{student[0]}}"
              type="text" value="">
          </div>
        <td>
          <div class="form-group">
            <input class="form-control form-control student_activity" id="activities{{student[0]}}"
              name="activities{{student[0]}}" type="text" value="">
          </div>
        </td>
        <td>
          <input class="student_id" type="hidden" name="student_id" value="{{student[0]}}">
        </td>
    </form>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="container" style="text-align: center;">
  <button type="button" class="btn btn-primary" id="submit" name="submit">Submit</button>
</div>

<script src="/static/form.js"></script>
{% endblock content %}