{% extends "base.html" %}
{%block content%}
    <h1 style="text-align: center;">Student Log</h1>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Log_id</th>
                <th scope="col">Student name</th>
                <th scope="col">Point gain</th>
                <th scope="col">Activities</th>
                <th scope="col">Total point</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for data in log_data %}
            <tr class="log_row">
                <th scope="row">{{data[0].log_id}}</th>
                <td>{{data[1]}}</td>
                <td>{{data[0].point_gain}}</td>
                <td>{{data[0].activities}}</td>
                <td>{{data[0].total_point}}</td>
                <td>{{data[0].date.strftime('%Y-%m-%d')}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}