{% extends "base.html" %}
{%block content%}
    <h1 style="text-align: center;">Student List</h1>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Student name</th>
                <th scope="col">Course</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for student in students %}
            <tr class="log_row">
                <th scope="row">{{student[0].name}}</th>
                <td>{{student[1]}}</td>
                <td>email here</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}